<launch>
	<arg name="marker_size" default="5" />
	<arg name="max_new_marker_error" default="0.01" />
	<arg name="max_track_error" default="0.1" />

	<arg name="cam_image_topic" default="/narrow_stereo/left/image_raw" />
	<arg name="cam_info_topic" default="/narrow_stereo/left/camera_info" />


	<arg name="output_frame" default="/map" />
	<arg name="max_frequency" default="10" />
	<arg name="display_unknown_object" default="0" />

  <arg name="reference_service" default="ar_reference" />

	<arg name="bundle_files" default="
$(find ar_track_alvar_bundles)/bundles/MarkerData_101.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_102.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_103_104_105_106_107_108.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_109_110_111_112_113_114.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_115_116_117_118_119_120.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_121.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_122.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_123.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_124.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_125.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_126.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_151.xml
$(find ar_track_alvar_bundles)/bundles/MarkerData_152.xml
"/>

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg max_frequency) $(arg display_unknown_object) $(arg reference_service) $(arg bundle_files)" />

  <include file="$(find reference_manager)/launch/referencer.launch">
   <arg name="node_name" value="$(arg reference_service)"/>
   <arg name="service_name" value="ar_reference"/>
  </include>

</launch>
